body {
	background-color: red;
}
background: linear-gradient(270deg, #ff0000, #ffab00, #fffa00, #0dff00, #00a3ff, #8d00ff);
background-size: 1200% 1200%;

-webkit-animation: rainbow 30s ease infinite;
-moz-animation: rainbow 30s ease infinite;
animation: rainbow 30s ease infinite;

@-webkit-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
 